.button {
    font: inherit;
    border: 1px solid #018573;
    background: #005f57;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #11886e;
    border-color: #11884c;
  }
  
  .button:focus {
    outline: none;
  }